<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Project Management App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
    <style>
        body, html {
            margin-top: 0;
            padding-top: 0;
        }

        .navigation {
            margin-top: 0px;
            padding-top: 18px;
            height: 35px;
            padding-left: 130px;
        }


        ul {
            list-style: none;
        }

        .nav li {
            float: left;
        }

            .nav li a {
                color: grey;
                text-decoration: none;
            }

        a:hover, a:active, .link-nav-selected {
            Color: #62bcbf !important;
            text-decoration: none;
        }
    </style>


</head>
<body>

    <link href="~/Views/Home/StyleSheet.css" rel="stylesheet" />
    <div class="navigation">
        <ul class="nav">
            <li style="padding:0 100px 0 100px;"><strong><a href="@Url.Action("AddProject", "Project")" @(ViewContext.RouteData.Values["action"].ToString().Equals("AddProject") ? "class=link-nav-selected" : "")>Add Project</a></strong></li>
            <li style="padding:0 100px 0 100px;"><strong><a href="@Url.Action("AddTask", "Task")" @(ViewContext.RouteData.Values["action"].ToString().Equals("AddTask") ? "class=link-nav-selected" : "")>Add Task</a></strong></li>
            <li style="padding:0 100px 0 100px;"><strong><a href="@Url.Action("AddUser", "User")" @(ViewContext.RouteData.Values["action"].ToString().Equals("AddUser") ? "class=link-nav-selected" : "")>Add User</a></strong></li>
            <li style="padding:0 100px 0 100px;"><strong><a href="@Url.Action("ViewTask", "Task")" @(ViewContext.RouteData.Values["action"].ToString().Equals("ViewTask") ? "class=link-nav-selected" : "")>View Task</a></strong></li>
        </ul>
    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Project Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Add Project", "AddProject", "Home")</li>
                        <li>@Html.ActionLink("Add User", "AddUser", "Home")</li>
                        <li>@Html.ActionLink("Add Task", "AddTask", "Home")</li>
                        <li>@Html.ActionLink("View Task", "ViewTask", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="padding:0 0 1px 10px;">
            <p>&copy; @DateTime.Now.Year - Project Management Application</p>
        </footer>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
