@model ProjectManagementApp.Models.User

@{
    ViewBag.Title = "Delete User";
}

<h2>Delete User</h2>

<h3>Are you sure you want to delete this User?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="padding-left:75px;">
            <input type="submit" value="Delete User" class="btn btn-default" /> 
           
        </div>
        <div class="form-actions no-color">
            @Html.ActionLink("Back", "AddUser")
        </div>
    }
</div>
