@model IEnumerable<ProjectManagementApp.Models.Task>

@{
    ViewBag.Title = "View Task";
}


<style>

   

    /* navigation bar*/

    .out {
        background-color: lightgrey;
        margin-top: 0;
    }

   

    /* allignment center*/

    .lab {
        padding: 8px 10px 10px 160px;
        color: blue;
    }

    .txt {
        padding: 0px 0px 8px 160px;
    }

    
</style>



<body>

    <div class="out">



        <hr />
        <br />
        @using (Html.BeginForm("ViewTask", "Home", FormMethod.Get))
        {
            <div class="container" style="padding-left:190px;">
                <div class="input-group">

                    <span class="sbox"> @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Enter the Task Name", @style = "width:50% !important; min-width:650px;" })</span>
                    <span class="sbox" style="padding-left:10px;"><input type="submit" value="Search" class="btn btn-default redcolor" /></span>
                </div>
            </div>
        }
        <br />
        <br />
        <div style="width:1050px; padding-left:100px;">
            <table class="table" style="border:0px;">
                <tr style="color:blue;">
                    <th>
                        @Html.DisplayNameFor(model => model.projectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.taskName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.priority)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.parentTask)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.startDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.endDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.userName)
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr class="search">
                        <td>
                            @Html.DisplayFor(modelItem => item.projectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.taskName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.priority)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.parentTask)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.endDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.userName)
                        </td>

                    </tr>
                }

            </table>
        </div>
        <br />
     
    </div>



</body>


<style>

    body {
        background-color: #C8C8C8;
    }

    /*red button*/

    .redcolor, .redcolor:hover, .redcolor:active, .redcolor:visited, .redcolor:focus {
        color: black;
        background-color: red;
        font-weight: bold;
        border: 1px solid black;
    }
</style>